.home h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #777;
}

.post h2,
.post p {
  margin-bottom: 1rem;
}

.post h2::first-letter {
  text-transform: uppercase;
}

.btn {
  background-color: #fff;
  max-width: 100px;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #0e1217;
  border: 1px solid #fff;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0e1217;
  color: #fff;
}

/* Mobile */
@media (max-width: 450px) {
  .home {
    padding: 0 2.8rem;
  }

  .home h1 {
    margin-bottom: 1.8rem;
  }

  .home .loading {
    text-align: center;
  }

  .post {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
  }

  .post h2,
  .post p {
    margin-bottom: 1rem;
  }

  .post a {
    align-self: center;
  }

  .btn {
    max-width: 80px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
}
