.new-post h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.form-control label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control span {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  resize: none;
  outline: none;
}

.form-control textarea {
  height: 8rem;
}

/* Mobile */
@media (max-width: 450px) {
  .new-post {
    padding: 0 2.8rem;
  }

  .new-post h2 {
    margin-bottom: 1.4rem;
  }

  .form-control span {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .new-post form .btn {
    max-width: 100px;
  }
}
